<section class="widget large">
    <header>
        <h4>
            <i class="eicon-chat"></i>
            Chat
        </h4>
    </header>
    <div class="body">
        <div id="chat" class="chat">
            <div id="chat-messages" class="chat-messages">
            </div>
            <footer class="chat-footer row">
                <div class="col-xs-9">
                    <input id="message" type="text" class="form-control input-transparent" placeholder="Enter your message..">
                </div>
                <div class="col-xs-3">
                    <input type="hidden" id="displayname" />
                    <input type="hidden" id="displaypic" />
                    <button type="button" id="sendmessage" class="btn btn-transparent btn-block">Send</button>
                </div>
            </footer>
        </div>
    </div>
</section>