@{
    ViewBag.Title = "Rules";
}

<div class="row">
    <div class="col-md-6">
        <section class="widget">
            <header>
                <h4>
                    <i class="eicon-flag"></i>
                    Rules
                </h4>
            </header>
            <div class="body">
                <blockquote>
                    <p>This is a classic 1 X 2 - Local wins, Draw, Visitor wins.</p>
                    <p>You can bet on the next games to be played. You can modify your bet until the game starts</p>
                    <p>Odds are downloaded from betclic and will move until the game start. Bets will close when game start. </p>
                    <p>Games of group phase will reward you current odd x 1€, round of 16, quarter and semi games will count for 2€, final games will count for 4€</p>
                    <p>Example: You played  1 - Local Wins on the first game (Odd was 3 for local victory) - Local effectively wins - you get 3€. For a game of round of 16, you would have received 6€, for the final, you would have received 12€</p>
                    <p>There is no real money to win :)</p>
                </blockquote>
            </div>
        </section>
    </div>
</div>
