@{
    ViewBag.Title = "Rules";
}

<div class="row">
    <div class="col-md-6">
        <section class="widget">
            <header>
                <h4>
                    <i class="eicon-flag"></i>
                    Rules
                </h4>
            </header>
            <div class="body">
                <blockquote>
                    <ol class="list-group">
                        <li class="list-group-item">1. This is a classic 1 X 2 - Local wins, Draw, Visitor wins.</li>
                        <li class="list-group-item">2. We consider the results at 90 (or 120 minutes if applicable) for direct elimination phases - otherwise there would be no draw :p</li>
                        <li class="list-group-item">3. You can bet on the next games to be played. You can modify your bet until the game starts. We manage Time Zones so don't worry about that.</li>
                        <li class="list-group-item">4. Odds are downloaded from betclic and will move until the game start.</li>
                        <li class="list-group-item">5. Games of group phase will reward you current odd x 1€, round of 16, quarter and semi games will count for 2€, final games will count for 4€</li>
                        <li class="list-group-item">6. Example: You played  1 - Local Wins on the first game (Odd was 3 for local victory) - Local effectively wins - you get 3€. For a game of round of 16, you would have received 6€, for the final, you would have received 12€</li>
                        <li class="list-group-item">7. There is no real money to win :)</li>
                        <li class="list-group-item">8. Amount will be displayed in your currency (if language properly selected in your browser)</li>
                        <li class="list-group-item">9. Final Winner will be the one with the most money displayed in the @Html.ActionLink("users", "Index", "Account") page</li>
                    </ol>
                </blockquote>
            </div>
        </section>
    </div>
</div>
