@using System.Linq;
@model IEnumerable<NetsizeWorldCup.Models.TeamModel>

@{
    ViewBag.Title = "Teams";
}

@for (int i = 0; i < (Model.Count()/4) ; i++)
{
    <div class="col-sm-12 col-md-8 col-lg-4">
        <section class="widget">
            @{
    var firstItem = Model.ElementAt<NetsizeWorldCup.Models.TeamModel>(i * 4);
            }
            <header>
                <h4>
                    <i class="fa fa-table"></i>
                    Group @firstItem.Group
                </h4>
            </header>
            <div class="body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            @*<th class="hidden-xs-portrait">#</th>*@
                            <th></th>
                            <th>@*@Html.DisplayNameFor(model => model.Name)*@</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int j = 0; j < 4; j++)
                        {
                            <tr>
                                @{
                            var item = Model.ElementAt<NetsizeWorldCup.Models.TeamModel>(i * 4 + j);
                                }
                                @*<td class="hidden-xs-portrait">
                                    @item.ID
                                </td>*@
                                <td>
                                    <span class="team-flag @item.FlagUrl"></span>
                                </td>
                                <td>
                                    @item.Name
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </section>
    </div>
}